:root {
  --bs-primary: #f7b41a;
}
.bg-color {
  background-color: #181818;
  width: 100%;
  height: 100vh;
}
.h-primary-color {
  color: var(--bs-primary) !important;
}
.h-heading {
  font-family: "Contrail One";
  font-weight: 500;
  font-size: 4.5rem;
  color: white;
}
.h-subheading {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.3rem;
  color: white;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--bs-primary);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1rem;
  color: white;
  border-color: var(--bs-primary);
  width: 10rem;
  padding: 0.6rem;
  margin-top: 1rem;
}
.happy-padding-start-1 {
  padding-left: 5rem;
}
.happy-padding-start-2 {
  padding-left: 10rem;
}
.happy-heading {
  font-family: "Poppins";
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  /* padding-left: 18rem; */
}
.happy-subheading {
  font-family: "Poppins";
  color: white;
  font-weight: 600;
  font-size: 1rem;
  /* padding-left: 18rem; */
}
.reviews {
  font-family: "Poppins";
  color: #6d6c6c;
}
.happy-img {
  /* width: 4.5rem; */
  height: 5rem;
  margin-left: -2rem;
}
.happy-img:first-child {
  margin-left: 0;
}

@media (max-width: 786) {
  .h-heading {
    font-size: 3rem;
    color: aliceblue;
  }
}
